@charset "UTF-8";




.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;

	top: 0;
	right: 0;
    max-height: 100%;
overflow-y: scroll;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}
.modalDialog > div {
    
	width: 400px;
	position: relative;
	z-index: -1;
	margin: 2.5% auto;
	padding: 5px 20px 13px 20px;
	background: #333;
}
.addArtistDialog::-webkit-scrollbar { 
    display: none; 
}
.addArtistDialog { 
    -ms-overflow-style: none; 
}
.addArtistDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
    max-height: 100%;
    overflow-y: scroll;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.addArtistDialog:target {
	opacity: 1;
	pointer-events: auto;
}
.addArtistDialog > div {
    
	width: 700px;
	position: relative;
	z-index: -1;
	margin: 2.5% auto;
	padding: 5px 20px 13px 20px;
	background: #333;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
	background: #00d9ff;
}
/*------------------------------ Body ------------------------------*/
.site-body {
	position: relative;
}
.site-body .container {
	padding-bottom: 30px;
	background: #212121;
}
body {
	line-height: 1;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}
textarea {
	overflow: auto;
}
.clearfix:after, .container:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.clearfix, .container {
	display: inline-block;
}
.clearfix, .container {
	display: block;
}
html, body {
	font-size: 13.5px;
}
body, button, select {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	line-height: 1.8;
	color: #AAA;
}
body {
	background: url("../images/bg.jpg") no-repeat top center fixed black;
}

/* ---- Events ------ */
 
    /* Event List */
    .events-list {
    	padding: 0;
    }

    .events-list li {
        list-style: none;
    }
 
    .event-image {
        width: 180px;
        height: 180px;
        float: left;
        border: solid 5px darkgray;
        margin-right: 3em;
    }
 
    .event-info-name {
        margin-bottom: 0;
    }
 
    .event-info-text {
        margin-bottom: 0.5em;
    }
 
    .event-container {
        min-height: 180px;
        min-width: auto;
        margin-bottom: 2em;
        margin-top: 2em;
    }
 
    .event-info-details span:after {
        content: " / ";
    }
 
    .event-info-details span:last-child:after {
        content: " ";   
    }
    
    /* ---- Bulletin Board ------ */
.bulletinboard {
    color: #FFF;
}

    /* bulletinboard List */
    .bulletinboard-list li {
        list-style: none;
    }

    .bulletin-info-title {
        margin-bottom: 0;
    }

    .bulletin-info-text {
        margin-bottom: 0.5em;
    }

    .bulletin-container {
        min-height: 213px;
        min-width: 320px;
        margin-bottom: 4em;
        margin-top: 2em;
    }

    .bulletin-details-list {
        border-top: solid 1px white;
        margin-bottom: 3em;
        margin-left: 0.1em;
    }

    .bulletin-details-list li {
        float: left;
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
    }

    .bulletin-details-list li:last-child {
        float: right
    }

    .bulletin-button-list li {
        display:inline-block;
    }
    
/*------------------------------ Links ------------------------------*/
a.white {text-decoration: none; color:white;}
a.white:hover {text-decoration: none; color:#077cc1;}
/*------------------------------ Links ------------------------------*/
a {
	transition: opacity .25s ease 0s, background-color .25s ease 0s, color .25s ease 0s, background .25s ease 0s, box-shadow .25s ease 0s;
	text-decoration: none;
	color: #077cc1;
}
a:hover {
	color: #077cc1;
}
/*------------------------------ Headings ----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	z-index: 0;
	margin: 0 0 10px;
	text-transform: uppercase;
}
h1 {
	font-size: 25px;
	line-height: 1.15;
	padding-top: 70px;
}

@media screen and (min-width: 790px) {
h1 {
	font-size: 30px;
}
}
h2 {
	font-size: 18px;
}

@media screen and (min-width: 790px) {
h2 {
	font-size: 20px;
}
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 18px;
	font-weight: normal;
}
h5 {
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h6 {
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/*------------------------------ Base ------------------------------*/
ul, ol, dl, p, details, address, .vcard, figure, pre, fieldset, table, dt, dd, hr {
	margin-bottom: 20px;
}
/*----------------------------- Content ------------------------------*/
.horizontal-list {
	padding: 0;
    list-style-type: none;
    text-align: center;
}

.horizontal-list li  {
	display: inline-block;
	margin-left: 10px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	z-index: 1;
}
b, strong {
	font-weight: bold;
}
blockquote {
	clear: both;
	margin: 20px 0;
}
blockquote p {
	font-size: 24px;
	line-height: 1.5;
}
blockquote cite {
	font-size: 13px;
	font-style: normal;
	margin-bottom: 20px;
}
dfn, cite, em, i {
	font-style: italic;
}
figure {
	margin: 0;
}
address {
	margin: 20px 0;
}
hr {
	height: 1px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #EEE;
}
/*------------------------------ Page Layout -------------------------*/
.container {
	position: relative;
	max-width: 1038px;
	margin: 0 auto;
    
}

.content {
    
	padding: 2em 2em 0;
    padding-bottom: 2em;
	color: #FFF;
	background: #212121;
}
/*------------------------------ Header ------------------------------*/
header {
    text-align: justify;
    letter-spacing: 1px;
    height: auto;
    padding: 2em 0 0;
    color: #fff;
    max-width: 1080px !important;
 
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header.boxed_content {
    margin: 30px auto auto;
}

header #show-menu {
	display: none;
	padding: 1em;
	background: #077CC1;
	font-weight: bold;
	cursor: pointer;
}

header #show-menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

header #logo-link::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 8em;
}

header #logo-link {
	height: 100%;
}

header nav {
    display: inline-block;
}

.site-navigation {
	position: relative;
	z-index: 1;
	/*
	float: right !important;
	max-width: 80%; */
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .7);
}
#logo {
	float: left;
	/*
	max-width: 20%;
	position: absolute !important;
	*/
}

@media screen and (max-width: 1024px){
	header #logo-link {
		height: 100% ;
		display: block ;
		width: 30% ;
		margin: 0 auto ;
		float: left ;
	}

	header #show-menu {
		display: block ;
		width: 70% ;
		float: right ;
	}

	header nav {
	    display: none ;
	    width: 70% ;
	    float: right ;
	}
}

.site-navigation {
	background: #212121;
	margin-top: 3px;
}

.site-navigation .menu, .site-navigation .nav-menu {
	display: block;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 790px) {
.site-navigation .menu, .site-navigation .nav-menu {
	display: inline;
}
}
.site-navigation .menu li, .site-navigation .nav-menu li {
	margin: 0;
	list-style: none;
	text-align: left;
}

@media screen and (min-width: 790px) {
.site-navigation .menu li, .site-navigation .nav-menu li {
	position: relative;
	display: inline-block;
}
}
.site-navigation .menu li a, .site-navigation .nav-menu li a {
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.7;
	display: block;
	padding: 12.5px 20px;
	transition: opacity .25s ease 0s, background-color .25s ease 0s, color .25s ease 0s, background .25s ease 0s, box-shadow .25s ease 0s;
	letter-spacing: .6px;
	text-transform: uppercase;
	color: #FFF;
	border-bottom: 1px solid #212121;
}

@media screen and (min-width: 791px) and (max-width: 1024px){
	.site-navigation {
		margin-top: 3px;
	}

	.site-navigation .menu li, .site-navigation .nav-menu li {
	    display: block;
	}
}

@media screen and (min-width: 790px) {
.site-navigation .menu li a, .site-navigation .nav-menu li a {
	padding: 13.33333px 25px;
	border-bottom: none;
	
}
}
.site-navigation .menu li a:hover, .site-navigation .nav-menu li a:hover {
	color: #077cc1;
}



.site-navigation .menu li.current-menu-item a, .site-navigation .menu li.current_page_item a, .site-navigation .nav-menu li.current-menu-item a, .site-navigation .nav-menu li.current_page_item a {
	color: white;
	background: #077cc1;
}


/*------------------------------ Main ------------------------------*/
.page-header {
	padding: 20px 20px 0;
	background: none repeat scroll 0% 0% #212121;
}

.page-header .page-title {
	padding-top: 0px;
}

 .bottom-section {
  width: 100%;
  text-align: center;
}
 
.bottom-section .bottom-featured-img{
  width: 180px;
  height: 180px;
  border: 5px solid #A9A9A9;
  display: inline-block;
  margin: 5px 5%;
}
 

@media screen and (min-width: 790px) {
#primary {
	float: left;
	width: 65.43967%;
}
}
.boxed_content {
	position: relative;
	max-width: 1098px;
	margin: 0 auto;
	padding: 0 30px;
}
/* Artist Article */
.artist article {
	margin-bottom: 30px;
}
.artist article .entry-thumb {
	float: none;
	width: 100%;
	margin-right: 30px;
	margin-bottom: 25px;
}

@media screen and (min-width: 500px) {
.artist article .entry-thumb {
	float: left;
	width: 222px;
	margin-bottom: 0;
}
.artist-button-homepage {
    margin-left: 16.5em;
}
.artist article .entry-thumb img {
	max-width: 100%;
	border: 7px solid #212121;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.artist article .entry-detail {
	overflow: hidden;
}
.artist article .entry-detail .entry-title {
	font-size: 18px;
	margin-bottom: 5px;
}
.artist article .entry-detail .entry-title a {
	color: #FFF;
}
.artist article .entry-meta {
	font-size: 11px;
	margin-bottom: 6.66667px;
	text-transform: uppercase;
}
.artist article .entry-meta .sep {
	margin: 0 10px;
}
.artist article .entry-meta a:hover {
	color: #FFF;
}
/* ---- Artist ------ */
    /* Artist Intro */
    

    /* Artist List */
.artist-list li {
	list-style: none;
}
.artist-image {
	width: 180px;

	float: left;
	border: solid 5px darkgray;
	margin-right: 3em;
}
.artist-info {
}
.artist-info-name {
	margin-bottom: 0;
}
.artist-info-bio {
	margin-bottom: 0.5em;
    margin-left: 16.3em;
}
.artist-container {
	
	min-width: 320px;
	margin-bottom: 5em;
	margin-top: 2em;
}
/* --- Artist Detailed --- */
.artistdetailed-image {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 1em;
}
.artistdetailed-image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px #FFF;
}
/* -------- About ---------- */
.about-content {
	margin-top: 4em;
}
/* About intro */
.about-intro {
}
.about-intro-image {
	width: 254px;
	height: 180px;
	float: left;
	margin-right: 2em;
	margin-bottom: 4em
}
.about-intro-image img {
	width: 254px;
	height: 180px;
	border: solid 5px darkgray;
}
/* About contact */
}.about-contact {
	clear: both;
}
.about-contact li {
	list-style: none;
	padding: 0.2em;
}
.about-contact-email a:hover {
	color: #077cc1;
}
/* unvisited link */
a.about-link:link {
    color: white;
}
/* visited link */
a.about-link:visited {
    color: #white;
}
/* mouse over link */
a.about-link:hover {
    color: #077cc1;
}
/* selected link */
a.about-link:active {
    color: #077cc1;
}
.about-contact-info-1 {
	width: 25em;
	float: left
}
.about-contact-info-2 {
	width: 35em;
	float: left
}
#info-contact-phone {
	padding-left: 1.0em;
}
#info-contact-mobile {
	padding-left: 0.8em;
}
#info-contact-email {
	padding-left: 1.45em;
}
#info-contact-address1 {
	padding-left: 6em;
}
#info-contact-address2 {
	padding-left: 13.65em;
}
#info-contact-postal {
	padding-left: 2.2em;
}

.about-contact-email a{
	color: #fff;
}

.about-contact-email a:hover {
	color: #077cc1;
}

/* About Looking Back */
.about-lookingback-image {
	width: 510px;
	margin-left: auto;
	margin-right: auto;
}
.about-lookingback-image img {
	width: 510px;
	border: solid 5px darkgray;
	margin-top: 4em;
	margin-bottom: 1em;
}
/* About History */
.about-history {
	margin-top: 4em;
}
.about-history-table th {
	vertical-align: top;
	padding-right: 2em;
}

/* Contact
------------------------------*/
.about-history-table th, td {
   
}
.map-contact {
	margin-bottom: 30px;
	padding: 20px 20px 20px 20px;
	color: #FFF;
	background: #212121;
}
.map-contact iframe {
	margin-bottom: 15px;
}
#home_icon {
	background: url(../images/icons/house.png);
	background-repeat: no-repeat;
	margin-left: 10px;
	padding-left: 30px;
}
#phone_icon {
	background: url(../images/icons/phone.png) 0 0;
	background-repeat: no-repeat;
	margin-left: 10px;
	padding-left: 30px;
}
#mobile_icon {
	background: url(../images/icons/mobile.png) 0 0;
	background-repeat: no-repeat;
	margin-left: 10px;
	padding-left: 30px;
}
#mail_icon {
	background: url(../images/icons/mail.png) 0 0;
	text-decoration: none;
	background-repeat: no-repeat;
	margin-left: 10px;
	padding-left: 30px;
}
/* Contact Form
------------------------------*/
form label {
	font-size: 11px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 4px;
	text-transform: uppercase;
}
.form-row {
	margin-bottom: 10px;
}
#contact_form input[type="text"] {
	min-width: 250px;
}
#contact_form textarea {
	min-width: 320px;
	min-height: 150px;
}
#contact_form #contact_submit {
	margin-top: 10px;
}
#contact_form .notice.hide, #contact_form .loading.hide {
	display: none;
}
#contact_form .loading {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
#contact_form .error {
	border: 1px solid red !important;
}
.notice {
	text-align: center;
	font-size: 1.5em;
}

.notice_ok {
	color: #077cc1;
}

.notice_error {
	color: red;
}

/* -------- Townsville Feeder ---------- */

.townsville-content {
margin-top: 4em;
}
/* Townsville intro */
.townsville-intro {
}

.townsville-intro-image {
width: 260px;
height: 198px;
float: left;
margin-right: 2em;
margin-bottom: 0em;
}

.townsville-intro-image img {
width: 250px;
height: 188px;
border: solid 5px darkgray;
}

.townsville-to-do {
}

.townsville-to-do ul li {
	padding-bottom: 10px;
}

.townsville-links {
}

.townsville-links ul li {
	padding-bottom: 10px;
}

.townsville-links a{
	color: #FFFFFF;
	text-decoration:underline;
}

.townsville-links a:visited{
	color: #999999;
}

/* -------- Registration and Signup ---------- */
.members-registration-form label {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    align-content: center;
	font-size:14px;
	text-transform:none;

}

.members-login-form {
}

.members-login-form div{
padding-bottom: 10px;
}

.members-login-form input {
width: 20em;	
}

.members-registration-form {

}

.members-registration-form div{
padding-bottom: 10px;
}

.members-registration-form input {
width: 20em;	
}

#terms {
	width: 20px;
}


#password-explanation{
    font-size: 10px;
}
/*------------------------------ Footer ------------------------------*/

.footer-wrapper {
	clear: both;
	background-color: transparent;
	margin-top: -10px;
}

.site-footer, .site-footer a {
	color: #FFF;
}
/* footer-logo */
.footer-logo {
	margin-left: auto;
	margin-right: auto;
	width: 147px;
	padding-bottom: 1em;
}
/* footer-navigation */
.footer-navigation {
	text-align: center;
}
.footer-navigation li {
	display: inline-block;
}
.footer-navigation a {
	text-decoration: none;
	padding-left: 0.25em;
	padding-right: 0.25em;
}
.footer-navigation a:hover {
	color: #077cc1;
}
.footer-navigation li:after {
	content: " | ";
}
.footer-navigation li:last-child:after {
	content: " ";
}
/* footer-contact */
.footer-contact {
	text-align: center;
	font-size: 0.85em;
}
.footer-contact li {
	list-style: none;
	padding: 0.2em;
}
.footer-contact-email a:hover {
	color: #077cc1;
}
.footer-facebook {
	height: 50px;
}

.fb-icon {
	background-color: transparent;
	background-image: url("../images/fb1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 29px;
	width: 29px;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.fb-icon:hover {
	background-image: url("../images/fb2.png");
}

.footer-facebook a {
	float: right;
	opacity: 0.8;
}
/*------------------------------- Slider -----------------------------*/
/* RoyalSlider: Animate Block : Home Slider 1
------------------------------*/
.royalSlider {
    width: 100%;
}

#home-slider-1.royalSlider {

}

.rsABlock {
    position: relative;
    top: auto;
    left: auto;
    display: block;
}

.rs_button {
	margin-top: 10px;
}

.rsContent {
    float: left;
    color: #FFF;
}

.rsVideo .bContainer {
    bottom: 200px;
}
.rsVideo .bContainer span {
    background: red;
}

.bContainer {
    position: relative;
    bottom: 240px;
    left: auto;
    display: block;
    text-align: center;
}

.rs_text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .8px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
	margin: 0px auto;
	max-width: 35%;
}

.rs_text_meta {
    margin-bottom: 10px;
}

.rs_text_box span {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .7);
}
@media screen and (min-width: 790px) {
    .rs_text_box span {
        font-size: 40px;
    }
}

/* Button Position */
.rsMinW .rsArrowRight {
    top: 50%;
    right: 30px;
    margin-top: -16px;
}

.rsMinW .rsArrowLeft {
    top: 50%;
    left: 30px;
    margin-top: -16px;
}

.rsMinW .rsBullet {
    padding: 6px 8px 6px 4px;
}

.rsMinW .rsBullets {
    right: 45%;
	width: 10%;
}
/* Video Slider
------------------------------*/
.video_slider .widget-content {
    border: 8px solid #212121;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
/* RoyalSlider: Videos
------------------------------*/
.rsVideos {
    margin-bottom: 30px;
    padding: 7px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #222;
}

.video_wrapper {
    margin-bottom: 30px;
    padding: 7px 7px 0 7px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #222;
}

.video_lightbox {
    position: relative;
    margin-bottom: 30px;
    padding: 7px 7px 7px 7px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #222;
}

.video_lightbox:hover img {
    opacity: .5;
}

.video_button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 64px;
    height: 64px;
    margin-top: -33px;
    margin-left: -33px;
    border: 2px solid #CCC;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    background: url("assets/images/rs-default.png") no-repeat scroll 0 -34px rgba(0, 0, 0, .75);
}

/* RoyalSlider: Gallery Slideshow
------------------------------*/
#gallery-slideshow {
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
/* Button */
.ui.button {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: .7em 1.2em;
    letter-spacing: .7px;
    text-transform: uppercase !important;
    color: #FFF;
    border-radius: 0;
    background: #077cc1;
}
.rs_img {
    z-index: 1;
}

.ui.button.coloured {
    background: #077cc1;
}
.ui.button.coloured:hover {
    background: #7E7E7E;
}

.ui.button {
    font-size: 15px;
 
    font-weight: bold;
    padding: 15px 30px;
    letter-spacing: 1.2px;
}
.ui.small.button {
    font-size: 12px;
    font-weight: bold;
    background: #077cc1;
    padding: 6px 20px;
    letter-spacing: 1.3px;
}
.ui.small.button:hover {
    background: #7E7E7E;
}

/* Slider */
.rsContent {
    z-index: 1;
 
    float: left;
    color: #FFF;
    max-width: 100%;
	max-height: 500px;
}

.bContainer {
    position: relative;
    bottom: 240px;
    left: auto;
    display: block;
    z-index: 1;
    text-align: center;
}

.rs_text_box span {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .7);
   
}
@media screen and (min-width: 790px) {
    .rs_text_box span {
        font-size: 40px;
    }
	
/* `border-box`... ALL THE THINGS! */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    text-align: justify;
  font-size: 100%;
 
  
}

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
 
  text-align: center;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
    
    
    
.add-user-table {
    word-wrap: break-word;
    width: 37em;
    text-align: end;
}
    
.label-left {
    text-align: left;
}
    
.add-user-button {
    width: 37.5em;
}
    
.adminlink {
    float:left;
}
